<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="isRegsiterToRegiserCenter" value="0"/>
    <add key="registerUrl" value=""/>
    <add key="ServiceName" value="DatabaseExpansionService"/>
    <add key="ServiceDescription" value="数据库自动扩容服务"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>